body {
    font-family: Arial, sans-serif;
    background-image: url('assets/XYaW9U7e_400x400.jpg'); /* Cambia a la ruta de tu imagen de fondo */
    background-size: cover; /* Para cubrir toda la pantalla */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    display: block;
    margin: 0 auto 20px; /* Centrar logo y añadir margen inferior */
    width: 150px; /* Ajusta el tamaño del logo según necesites */
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
